@charset "UTF-8";
@keyframes fadeInFromBottom {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Style pour le menu Header */
body {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
}

/* header */
/* Style pour le menu Header */
header {
  width: 1444px;
  margin: 0px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}

.logo-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.logo-nav div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 216px;
  height: 14px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 45px;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
}

.menu-container {
  text-align: center;
  padding: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.hamburger-button {
  cursor: pointer;
}

/* Styles pour les écrans de petite taille (portable) */
@media only screen and (max-width: 767px) {
  .my-header-menu {
    display: none; /* Masquer le menu initial sur les petits écrans */
  }
  .my-header-menu.open {
    display: block; /* Afficher le menu en bloc sur les petits écrans lorsque ouvert */
  }
}
/* Styles pour le menu hamburger */
#IconeMenuBurger {
  width: 30px;
  height: 20px;
  background-color: #000;
  position: relative;
  cursor: pointer;
  display: none; /* Par défaut, masquer l'icône du menu hamburger sur les écrans plus larges */
}

#IconeMenuBurger::before,
#IconeMenuBurger::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  transition: 0.3s;
}

#IconeMenuBurger::before {
  top: 0;
}

#IconeMenuBurger::after {
  bottom: 0;
}

#IconeMenuBurger.open::before {
  transform: rotate(-45deg);
  top: 10px;
}

#IconeMenuBurger.open::after {
  transform: rotate(45deg);
  bottom: 10px;
}

/* Styles pour le menu responsive */
#topnav_responsive_menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* Styles pour le menu hamburger visible sur les écrans plus petits */
  #IconeMenuBurger {
    display: block;
  }
  /* Masquer le menu classique sur les écrans plus petits */
  .MenuHeader ul.liste1 {
    display: none;
  }
  /* Positionner le menu hamburger à droite sur les écrans plus petits */
  #IconeMenuBurger {
    order: 3; /* Déplacer l'icône du menu hamburger vers la fin de la disposition flex sur les petits écrans */
  }
  /* Styles pour le menu responsive visible sur les écrans plus petits */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    right: 0;
    top: 100%; /* Position en dessous de l'en-tête */
    background-color: #f8f8f8;
    padding: 10px;
  }
  #topnav_responsive_menu ul {
    flex-direction: column;
  }
  #topnav_responsive_menu li {
    margin: 10px 0;
  }
}
/* Style pour le menu Footer */
.menu-footer-menu-container ul {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 86px;
  border-top: 1px black solid;
}

.menu-footer-menu-container li {
  list-style: none;
}

.menu-footer-menu-container a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
}

/* polices */
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on October 9, 2023 */
@font-face {
  font-family: "PoppinsBold";
  src: url("./fonts/poppins-bold-webfont.woff2") format("woff2"), url("./fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("./fonts/poppins-italic-webfont.woff2") format("woff2"), url("./fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("./fonts/poppins-medium-webfont.woff2") format("woff2"), url("./fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("./fonts/poppins-regular-webfont.woff2") format("woff2"), url("./fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monobold";
  src: url("./fonts/spacemono-bold-webfont.woff2") format("woff2"), url("./fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monobold_italic";
  src: url("./fonts/spacemono-bolditalic-webfont.woff2") format("woff2"), url("./fonts/spacemono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monoitalic";
  src: url("./fonts/spacemono-italic-webfont.woff2") format("woff2"), url("./fonts/spacemono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monoregular";
  src: url("./fonts/spacemono-regular-webfont.woff2") format("woff2"), url("./fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* CSS pour la Modale Popup de Contact */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 3, 0.8); /* #00000388;   c'est ca qui fait un aspect d'Overlay */
  display: none; /* elle sera activer par Jquery avec la methode css('display', 'flex'); */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.popup-overlay.open {
  display: flex;
}

.popup-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 512px;
  border: 2px solid black;
  background: white;
  margin-top: 16px;
  padding: 8px 40px 40px 40px;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}

.popup-overlay.open {
  display: flex;
  transition: auto;
}

body > section:nth-child(5) > footer > div.popup-overlay.open > div > img {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
}

/* Responsive pour le mobile */
@media screen and (max-width: 465px) {
  .popup-contact {
    max-width: 270px;
    height: auto;
  }
}
.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.custom-input-class,
.custom-textarea-class {
  width: 100%;
  border-radius: 8px;
  width: 270px;
  border: 1px solid #b8bbc2;
  resize: none;
}

.custom-input-class {
  height: 37px;
}

.custom-textarea-class {
  height: 250px;
}

.custom-label {
  font-size: 12px;
  font-family: "PoppinsMedium", sans-serif;
  font-weight: bolder;
  line-height: 18px;
}

.customsubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d8d8d8;
  height: 50px;
  width: 275px;
  border: 1px solid #b8bbc2;
}

.cataloguePhotos {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

/* Container pour les informations détaillées */
.infos {
  width: 50%;
  padding: 20px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%; /* Ajustez selon vos besoins */
}

/* Affichage des informations sur la photo */
.taxonomies {
  display: flex;
  flex-direction: column;
  font-family: "space_monoregular";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

body > section.cataloguePhotos > div.infos > h2 {
  font-family: "space_monoregular";
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  font-size: 66px;
  line-height: 58px;
}

/* Trait gris en dessous du texte */
.taxonomies::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000000;
  margin-top: 10px; /* Ajustez la marge selon vos besoins */
}

/* Container pour l'image principale */
.galleryPhotos {
  width: 50%;
  height: 100%;
  position: relative; /* Ajout d'une position relative */
}

/* Container pour l'image principale */
.detailPhoto {
  width: 50%;
}

/* Affichage de l'image principale */
.containerPhoto {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.containerPhoto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Overlay pour l'effet de survol */
.singlePhotoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
  cursor: pointer;
}

.singlePhotoOverlay:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Bouton plein écran */
.fullscreen-icon {
  display: none;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 34px;
  height: 34px;
}

.containerPhoto:hover .fullscreen-icon {
  display: block;
}

/* Styles pour le reste de la page */
.contenairContact {
  width: 100%;
  display: flex;
  border-bottom: solid black 1px;
  padding: 20px;
}

.contactContent {
  display: flex;
  align-items: flex-start; /* Aligne les éléments sur le côté gauche */
}

#contact-modale {
  width: 272px;
  height: 50px;
  line-height: 100%;
  background-color: #d8d8d8;
  font-family: space_monoregular;
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  margin-left: 250px;
}

#contact-modale:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* Styles pour la navigation entre les photos */
.naviguationPhotos {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

/* Flèches de navigation */
/* Styles pour la navigation entre les photos */
.naviguationPhotos {
  width: 50%;
  height: 118px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 820px) {
  .naviguationPhotos {
    display: none;
  }
}

.naviguationArrow {
  width: 81px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  height: 118px;
}
.naviguationArrow .arrow {
  width: 25px;
  height: auto;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.naviguationArrow .arrow:hover + .miniPicture {
  display: flex !important;
}
.naviguationArrow .arrow .arrow-left {
  top: 10px;
  position: relative;
}
.naviguationArrow .arrow .arrow-right {
  top: 10px;
  position: relative;
}

.miniPicture-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.miniPicture,
.miniPicture-left,
.miniPicture-right {
  visibility: hidden;
  opacity: 0;
  position: relative;
  height: 71px;
  width: 81px;
  top: 8px;
  transition: visibility 0, 3s, opacity 0.3s linear;
}
.miniPicture a,
.miniPicture-left a,
.miniPicture-right a {
  display: block;
  width: 100%;
  height: 100%;
}
.miniPicture a img,
.miniPicture-left a img,
.miniPicture-right a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow:hover + .miniPicture,
.arrow:hover + .miniPicture-left,
.arrow:hover + .miniPicture-right {
  visibility: visible;
  opacity: 1;
}

/* Conteneur pour la photo actuelle */
.current-photo {
  width: 81px;
  height: 71px;
  margin: 0 10px; /* Espace entre la photo et les flèches */
  position: relative;
}

.current-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

/* Section pour afficher des photos similaires */
.related-photos {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleSugest {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.related-photo-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.related-photo {
  width: calc(50% - 10px); /* 50% de largeur avec un espacement entre les éléments */
  box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur */
  text-align: center;
  margin-bottom: 20px;
}

.related-photo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

.photoNotFound {
  font-family: PoppinsRegular;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

/* Votre CSS existant */
.related-photo p {
  display: none;
}

/* Styles pour la navigation entre les photos */
.naviguationPhotos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.miniPicture {
  display: flex;
  gap: 10px;
  width: 81px;
  height: 71px;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  width: 81px;
  height: 71px;
  transition: transform 0.3s ease-in-out;
}

.naviguationArrow img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Styles pour l'effet de survol */
.thumbnail:hover img {
  transform: scale(1.2);
}

/* Conteneur pour la photo actuelle */
.current-photo {
  width: 81px;
  height: 71px;
  margin: 0 10px; /* Espace entre la photo et les flèches */
  position: relative;
}

.current-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

/* Positionnement absolu selon les coordonnées spécifiées */
.current-photo {
  position: absolute;
  top: 1461px;
  left: 6038px;
}

/* Overlay pour l'effet de survol pour les photos de la section "Vous aimerez aussi" */
.related-photo .singlePhotoOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
  cursor: pointer;
}

/* Overlay pour l'effet de survol pour les photos de la section "Vous aimerez aussi" */
.related-photo {
  position: relative;
  overflow: hidden;
}

.related-photo .singlePhotoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.related-photo:hover .singlePhotoOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

/* Bouton plein écran pour les photos de la section "Vous aimerez aussi" */
.related-photo .fullscreen-icon {
  display: none;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 34px;
  height: 34px;
}

.related-photo:hover .fullscreen-icon {
  display: block;
}

/* CSS pour la Modale Plein Écran */
.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.fullscreen-modal.open {
  display: flex;
}

.fullscreen-content {
  max-width: 90vw;
  max-height: 90vh;
}

.fullscreen-modal img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.fullscreen-modal.open {
  display: flex;
  transition: auto;
}

.banner {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 770px) {
  .banner {
    height: 250px;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 3px;
}

/* Appliquer les animations aux éléments concernés */
/* Style pour la section contenant toutes les photos */
.all-photos {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style pour chaque conteneur de photo */
.all-photo-container {
  width: calc(50% - 10px); /* 50% de largeur avec un espacement entre les éléments */
  box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur */
  text-align: center;
  margin-bottom: 20px;
}

/* Style pour chaque photo */
.all-photo img {
  width: 100%; /* Utilise 100% de la largeur du conteneur parent */
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1; /* Garantit que l'image conserve un ratio carré */
}

/* Style pour la référence de chaque photo */
.all-photo p {
  display: none;
}/*# sourceMappingURL=style.css.map */