// @import "font-google";

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.custom-input-class,
.custom-textarea-class {
  width: 100%;
  border-radius: 8px;
  width: 270px;
  border: 1px solid #b8bbc2;
  resize: none;
}

.custom-input-class {
  height: 37px;
}

.custom-textarea-class {
  height: 250px;
}

.custom-label {
  font-size: 12px;
  font-family: "PoppinsMedium", sans-serif;
  font-weight: bolder;
  line-height: 18px;
}

.customsubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d8d8d8;
  height: 50px;
  width: 275px;
  border: 1px solid #b8bbc2;
}
