// styles.scss (ou le nom de votre fichier principal)
//le héro header
.banner {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 770px) {
  .banner {
    height: 250px;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  position: absolute;
  top: 3px;
}
/* Appliquer les animations aux éléments concernés */
// ce code met les images au bon format mais elles sont en colonne
// /* Style pour la section contenant toutes les photos */
// .all-photos {
//   max-width: 80%;
//   margin: 0 auto;
//   margin-bottom: 5%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

// /* Style pour chaque conteneur de photo */
// .all-photo-container {
//   width: calc(
//     50% - 10px
//   ); /* 50% de largeur avec un espacement entre les éléments */
//   box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur */
//   text-align: center;
//   margin-bottom: 20px;
// }

// /* Style pour chaque photo */
// .all-photo img {
//   width: 100%;
//   height: auto;
//   object-fit: cover;
//   aspect-ratio: 1 / 1; /* Garantit que l'image conserve un ratio carré */
// }

// /* Style pour la référence de chaque photo */
// .all-photo p {
//   display: none;
// }

/* Style pour la section contenant toutes les photos */
.all-photos {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row; /* Ajout de cette ligne pour spécifier la direction horizontale */
}

/* Style pour chaque conteneur de photo */
.all-photo-container {
  width: calc(
    50% - 10px
  ); /* 50% de largeur avec un espacement entre les éléments */
  box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur */
  text-align: center;
  margin-bottom: 20px;
}

/* Style pour chaque photo */
.all-photo img {
  width: 100%; /* Utilise 100% de la largeur du conteneur parent */
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1; /* Garantit que l'image conserve un ratio carré */
}

/* Style pour la référence de chaque photo */
.all-photo p {
  display: none;
}
