/* Styles pour le conteneur #filtrePhoto */
#filtrePhoto {
  // padding-top: 50px;
  width: 1140px;
  display: flex;
  // justify-content: space-between;
  margin-left: 90px;
  margin-right: 0px;
  gap: 410px;

  @media screen and (max-width: 770px) {
    width: 315px;
    flex-direction: column;
  }

  @media screen and (min-width: 770px) and (max-width: 1140px) {
    width: 715px;
  }

  @media screen and (max-width: 340px) {
    margin-bottom: 50px;
  }
}

#section1 {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 50px; /* Espacement entre le sélecteur de gauche et la bordure droite */
}

#section2 {
  display: flex;
  justify-content: flex-end;
}

.custom-select {
  width: 250px;
  margin-left: auto; /* Place le sélecteur à droite dans la section */
  position: relative;
}

.custom-select:after {
  content: "▼"; /* Utilisez un caractère flèche vers le bas ou une image d'icône de flèche */
  position: absolute;
  top: 50%;
  right: 10px; /* Ajustez la distance de la flèche par rapport à la droite */
  transform: translateY(-50%);
  pointer-events: none; /* Assurez-vous que la flèche ne perturbe pas la sélection */
}

/* Ajouter du CSS pour personnaliser Select2 */
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da; /* Couleur de la bordure */
  border-radius: 4px; /* Coins arrondis */
}

/* Ajouter du CSS pour personnaliser Select2 */
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: transparent !important;
  color: #000 !important;
}

.select2-container--default .select2-results__option:hover {
  background-color: #fe5858 !important;
  color: white !important;
}
.select2-container--default .select2-results__option:first-child {
  background-color: #ffd6d6 !important;
  color: #000 !important;
}
.select2-container--default
  .select2-results__option:not(:first-child)[aria-selected="true"] {
  background-color: #e00000 !important;
  color: #fff !important;
}

#categorie #format #annee:hover {
  background-color: #fe5858 !important;
  color: white !important;
}

/* Appliquer le CSS à vos éléments spécifiques */
#categorie.custom-select,
#format.custom-select,
#annee.custom-select {
  border: 1px solid #ced4da;
  border-radius: 4px;
}

#categorie.custom-select:hover,
#format.custom-select:hover,
#annee.custom-select:hover {
  background-color: #fe5858 !important;
  color: white !important;
}

#categorie.custom-select option,
#format.custom-select option,
#annee.custom-select option {
  background-color: transparent !important;
  color: #000 !important;
}

#categorie.custom-select option:hover,
#format.custom-select option:hover,
#annee.custom-select option:hover {
  background-color: #fe5858 !important;
  color: white !important;
}

#categorie.custom-select option:first-child,
#format.custom-select option:first-child,
#annee.custom-select option:first-child {
  background-color: #ffd6d6 !important;
  color: #000 !important;
}

#categorie.custom-select option:selected,
#format.custom-select option:selected,
#annee.custom-select option:selected {
  background-color: #e00000 !important;
  color: #fff !important;
}
