/* Ajouter du CSS pour personnaliser Select2 */
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da; /* Couleur de la bordure */
  border-radius: 4px; /* Coins arrondis */
}

/* Ajouter du CSS pour personnaliser Select2 */
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: transparent !important;
  color: #000 !important;
}

.select2-container--default .select2-results__option:hover {
  background-color: #fe5858 !important;
  color: white !important;
}
.select2-container--default .select2-results__option:first-child {
  background-color: #ffd6d6 !important;
  color: #000 !important;
}
.select2-container--default
  .select2-results__option:not(:first-child)[aria-selected="true"] {
  background-color: #e00000 !important;
  color: #fff !important;
}

#categorie #format #annee:hover {
  background-color: #fe5858 !important;
  color: white !important;
}

/* Appliquer le CSS à vos éléments spécifiques */
#categorie.custom-select,
#format.custom-select,
#annee.custom-select {
  border: 1px solid #ced4da;
  border-radius: 4px;
}

#categorie.custom-select:hover,
#format.custom-select:hover,
#annee.custom-select:hover {
  background-color: #fe5858 !important;
  color: white !important;
}

#categorie.custom-select option,
#format.custom-select option,
#annee.custom-select option {
  background-color: transparent !important;
  color: #000 !important;
}

#categorie.custom-select option:hover,
#format.custom-select option:hover,
#annee.custom-select option:hover {
  background-color: #fe5858 !important;
  color: white !important;
}

#categorie.custom-select option:first-child,
#format.custom-select option:first-child,
#annee.custom-select option:first-child {
  background-color: #ffd6d6 !important;
  color: #000 !important;
}

#categorie.custom-select option:selected,
#format.custom-select option:selected,
#annee.custom-select option:selected {
  background-color: #e00000 !important;
  color: #fff !important;
}
