.cataloguePhotos {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

/* Container pour les informations détaillées */
.infos {
  width: 50%;
  padding: 20px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%; /* Ajustez selon vos besoins */
}
/* Affichage des informations sur la photo */
.taxonomies {
  display: flex;
  flex-direction: column;
  // margin-top: auto; /* Pour aligner en bas de la section */
  font-family: "space_monoregular";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}
body > section.cataloguePhotos > div.infos > h2 {
  font-family: "space_monoregular";
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  font-size: 66px;
  line-height: 58px;
}
/* Trait gris en dessous du texte */
.taxonomies::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000000;
  margin-top: 10px; /* Ajustez la marge selon vos besoins */
}
/* Container pour l'image principale */
.galleryPhotos {
  width: 50%;
  height: 100%;
  position: relative; /* Ajout d'une position relative */
}

/* Container pour l'image principale */
.detailPhoto {
  width: 50%;
}

/* Affichage de l'image principale */
.containerPhoto {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.containerPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay pour l'effet de survol */
.singlePhotoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
  cursor: pointer;
}

.singlePhotoOverlay:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Bouton plein écran */
.fullscreen-icon {
  display: none;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 34px;
  height: 34px;
}

.containerPhoto:hover .fullscreen-icon {
  display: block;
}

/* Styles pour le reste de la page */
.contenairContact {
  width: 100%;
  display: flex;
  // justify-content: flex-end; /* Aligne les éléments sur le côté droit */
  border-bottom: solid black 1px;
  padding: 20px;
}

.contactContent {
  display: flex;
  // flex-direction: column;
  align-items: flex-start; /* Aligne les éléments sur le côté gauche */
}

#contact-modale {
  width: 272px;
  height: 50px;
  line-height: 100%;
  background-color: #d8d8d8;
  font-family: space_monoregular;
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  margin-left: 250px;
}

#contact-modale:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

// navigation photo
/* Styles pour la navigation entre les photos */
.naviguationPhotos {
  display: flex;
  flex-direction: row;
  align-items: center;
  // background-color: aqua;
  height: 100px;
}

/* Flèches de navigation */
/* Styles pour la navigation entre les photos */
.naviguationArrow {
  display: flex;
  align-items: center;
  height: 80px;
}

.arrow {
  cursor: pointer;
  width: 30px; /* Ajustez la taille selon vos besoins */
  height: 30px;
  margin: 0 10px; /* Espace entre les flèches */
  position: relative;
}

.arrow img {
  width: 100%;
  height: 100%;
}

/* Conteneur pour la miniature */
.thumbnail-container {
  position: absolute;
  top: 100%; /* Positionne la miniature en dessous de la flèche */
  left: 0;
  width: 100%;
  background-color: white; /* Fond blanc pour la miniature */
  padding: 5px; /* Ajustez l'espacement de la miniature selon vos besoins */
  box-sizing: border-box;
  display: none; /* Masque la miniature par défaut */
}

/* Afficher la miniature lors du survol de la flèche */
.arrow:hover .thumbnail-container {
  display: block;
}

/* Conteneur pour la photo actuelle */
.current-photo {
  width: 81px;
  height: 71px;
  margin: 0 10px; /* Espace entre la photo et les flèches */
  position: relative;
}

.current-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* Section pour afficher des photos similaires */
.related-photos {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleSugest {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.related-photo-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.related-photo {
  width: calc(
    50% - 10px
  ); /* 50% de largeur avec un espacement entre les éléments */
  box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur */
  text-align: center;
  margin-bottom: 20px;
}

.related-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.photoNotFound {
  font-family: PoppinsRegular;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

/* Votre CSS existant */
.related-photo p {
  display: none;
}

// navigation photo
/* Styles pour la navigation entre les photos */
.naviguationPhotos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.miniPicture {
  display: flex;
  gap: 10px;
  width: 81px;
  height: 71px;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  width: 81px;
  height: 71px;
  transition: transform 0.3s ease-in-out;
}

.naviguationArrow img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Styles pour l'effet de survol */
.thumbnail:hover img {
  transform: scale(1.2);
}

/* Conteneur pour la photo actuelle */
.current-photo {
  width: 81px;
  height: 71px;
  margin: 0 10px; /* Espace entre la photo et les flèches */
  position: relative;
}

.current-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* Positionnement absolu selon les coordonnées spécifiées */
.current-photo {
  position: absolute;
  top: 1461px;
  left: 6038px;
}

/* Overlay pour l'effet de survol pour les photos de la section "Vous aimerez aussi" */
.related-photo .singlePhotoOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
  cursor: pointer;
}

/* Overlay pour l'effet de survol pour les photos de la section "Vous aimerez aussi" */
.related-photo {
  position: relative;
  overflow: hidden;
}

.related-photo .singlePhotoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.related-photo:hover .singlePhotoOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

/* Bouton plein écran pour les photos de la section "Vous aimerez aussi" */
.related-photo .fullscreen-icon {
  display: none;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 34px;
  height: 34px;
}

.related-photo:hover .fullscreen-icon {
  display: block;
}
